<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<bean id="bookService" class="main.vo.BookService">
    <constructor-arg index="0" value="hello world"></constructor-arg>
    <property name="bookDao" ref="bookDao"></property>
</bean>
    <bean id="userService" class="main.vo.BeanFactory" factory-method="getUserService"></bean>

    <bean id="beanFactory" class="main.vo.BeanFactory"></bean>
    <bean id="categoryService" factory-bean="beanFactory"  factory-method="getCategoryService"></bean>
    <bean id="book" class="main.vo.Book">
        <property name="bookName" value="java web程序设计"></property>
    </bean>
    <bean id="bookDao" class="main.dao.BookDao"></bean>



</beans>