.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar


## node spider
/spider/node_modules
/spider/cached_html
/spider/douban.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
